################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeMangement/.vs/CoffeMangement/v16
